

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# VS Code
.vscode/

# Environment
.env

# SQLite
*.sqlite
*.db

# ログ
*.log
json_error.txt

# OS
.DS_Store
Thumbs.db

# 一時ファイル
*.tmp

.venv/
venv/

.idea/
.vscode/